.app{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dogCard{
    max-height: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px black;
    overflow: hidden;
}
.dogCard img{
    height: 300px;
    width: 200px;
    object-fit: contain;
}